In [9]:
import pandas as pd

data={
    "apples":[3,2,7,0],
    "oranges":[4,6,5,7]
}

purchases=pd.DataFrame(data)

purchases

purchases = pd.DataFrame(data, index=['June', 'Robert', 'Lily', 'David'])
purchases

purchases.loc['June']

apples     3
oranges    4
Name: June, dtype: int64

In [21]:
greenhouse_data=pd.read_csv("https://raw.githubusercontent.com/dphi-official/Datasets/master/UNdata_Greenhouse_Gas.csv")

greenhouse_data.describe()
greenhouse_data.head(10)
greenhouse_data.tail(10)
greenhouse_data.isnull()
greenhouse_data.isnull().sum()

#greenhouse_data.to_csv( "file2.csv")

Country or Area    0
Year               0
Value              0
dtype: int64