<a href="https://colab.research.google.com/github/Lejla1502/Data-Science-Bootcamp/blob/master/Implementing_Regression_Using_Decission_Tree.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [5]:
import numpy as np
import pandas as pd
from sklearn.tree import DecisionTreeRegressor
from sklearn.model_selection import train_test_split
from sklearn.metrics import r2_score,mean_squared_error
import seaborn as sns


df=pd.read_csv("https://raw.githubusercontent.com/dhirajk100/DTR/master/DT-Regression-Data.csv")
df

              x           y
0     56.000000  157.553428
1     75.636364  156.479835
2     95.272727  158.248104
3    114.909091  160.195151
4    134.545455  156.877148
..          ...         ...
95  1921.454545  172.287516
96  1941.090909  176.003150
97  1960.727273  176.129383
98  1980.363636  175.813863
99  2000.000000  175.530826

[100 rows x 2 columns]

In [7]:
X=df.x
y=df.y

X=X.values.reshape(-1,1)
y=y.values.reshape(-1,1)

x_train, x_test, y_train, y_test=train_test_split(X,y,test_size=0.50, random_state=42)

In [10]:
#Fit the model

DecisionTreeRegModel=DecisionTreeRegressor()
DecisionTreeRegModel.fit(x_train,y_train)

DecisionTreeRegressor(ccp_alpha=0.0, criterion='mse', max_depth=None,
                      max_features=None, max_leaf_nodes=None,
                      min_impurity_decrease=0.0, min_impurity_split=None,
                      min_samples_leaf=1, min_samples_split=2,
                      min_weight_fraction_leaf=0.0, presort='deprecated',
                      random_state=None, splitter='best')

In [11]:
#Predict

y_pred=DecisionTreeRegModel.predict(x_test)
y_pred

array([171.43755825, 165.41706509, 173.57789131, 164.67144973,
       164.40142897, 161.36544608, 160.23208376, 168.09758944,
       157.19196032, 156.47983503, 160.52667648, 161.67115795,
       165.85141888, 162.81664191, 175.0628985 , 160.19515062,
       172.93107774, 172.05988519, 155.85925524, 162.81664191,
       169.22563541, 174.30113858, 160.18396182, 164.40142897,
       170.63599932, 155.85925524, 164.95364565, 176.12938327,
       157.19196032, 173.57789131, 157.19196032, 166.67269112,
       171.43755825, 161.67115795, 173.22134836, 160.89660745,
       171.72342943, 170.75232437, 164.0468181 , 160.52667648,
       166.67269112, 162.81664191, 160.89660745, 174.23396551,
       161.67115795, 163.41857027, 175.61760627, 160.18396182,
       168.16686386, 155.85925524])

In [12]:
#model evaluation

mse=mean_squared_error(y_test,y_pred)
rmse=np.sqrt(mse)
rmse

2.469261785422102