<a href="https://colab.research.google.com/github/Lejla1502/Data-Science-Bootcamp/blob/master/Intro_to_Pandas_exercises.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [6]:
import pandas as pd

ind=pd.Index([2,3,5,7,11])

ind[::2]

print(ind.size, ind.shape, ind.ndim, ind.dtype)

data = pd.Series(['Hello', 'DPhi', 'world'], index=['a', 'b', 'c'])

data.loc['a']
data.loc['a':'c']
data.iloc[1:3]

5 (5,) 1 int64

b     DPhi
c    world
dtype: object

#Exercise 1

Consider the following lists:

> lst1 = [1, 2, 3, 5, 8] <br/>
> lst2 = [8, 5, 3, 2, 1]



1.   Create and display two individual Series objects s1 and s2 from the data available on each list.
2.   Perform the following operations with the two series (element-wise):


> A. Add s1 and s2 and store the result in a new variable s3_add <br/>
> B. Subtract s2 from s1 and store the result in a new variable s3_sub<br/>
> C. Multiply s1 and s2 and store the result in a new variable s3_mul<br/>
> D. Divide s1 by s2 and store the result in a new variable s3_div

In [22]:
import pandas as pd

lst1 = [1, 2, 3, 5, 8]
lst2 = [8, 5, 3, 2, 1]

s1=pd.Series(lst1)
s2=pd.Series(lst2)
s1
s2
s3_add=pd.Series(s1.add(s2))
s3_add

s3_sub=pd.Series(s2.subtract(s1))
s3_sub

s3_mul=pd.Series(s1.multiply(s2))
s3_mul

s3_div=pd.Series(s2.divide(s1))
s3_div

0    8.000
1    2.500
2    1.000
3    0.400
4    0.125
dtype: float64

## Exercise 2

Consider the following `Series` object:
```
0    45000
1    37872
2    57923
3    68979
4    78934
5    69897
6    56701
Name: Amazon_Reviews, dtype: int64
```

1. Create and display the `Amazon_Reviews` Series.

2. Get the last three values from `Amazon_Reviews` using negative indexing.

In [31]:
Amazon_Reviews=pd.Series([45000,37872,57923,68979,78934,69897,56701])
Amazon_Reviews.tail(-4)

0    45000
1    37872
2    57923
3    68979
4    78934
5    69897
dtype: int64

## Exercise 3

Consider the following dictionary which is relating the area in sq units of some USA states: 
```
    area_dict = {'California': 423967, 'Texas': 695662, 'New York': 141297,
             'Florida': 170312, 'Illinois': 149995}
```

1. Create a `Series` using the given dictionary
2. Extract areas for 'Texas', 'New York',  and 'Florida' from the created series

In [36]:
area_dict = {'California': 423967, 'Texas': 695662, 'New York': 141297,
             'Florida': 170312, 'Illinois': 149995}

#Answer1

area_s=pd.Series(area_dict)
area_s

#Anser2 
area_s.iloc[1:4]

Texas       695662
New York    141297
Florida     170312
dtype: int64

## Exercise 4

Consider below DPhi Bootcamp's information about different batches:

```
Total_Candidates = {'absolute_beginners': 785, 'beginners': 825, 'intermediat_advanced': 602} # this is true data
Active_Candidates = {'absolute_beginners': 500, 'beginners': 425, 'intermediat_advanced': 300}  # this is hypothetical data
```
    
1. Create a Pandas `DataFrame` using above information (name your Dataframe as `DPhi`)
2. Get all the columns in DPhi.
3. Get the information of total candidates present in each batches using dictionary-style indexing.
4. Find the number of candidates for each batches who are not active and add this information to the dataframe DPhi.
5. Also, find the percent of candidates that are active in each batches and add this information to the `DPhi` dataframe (hint: $percent = (active / total)* 100$)
6. Get all the batches where percentage of active candidates are greater than 60%

In [48]:
Total_Candidates = {'absolute_beginners': 785, 'beginners': 825, 'intermediat_advanced': 602} # this is true data
Active_Candidates = {'absolute_beginners': 500, 'beginners': 425, 'intermediat_advanced': 300}  # this is hypothetical data

#A1
DPhi=pd.DataFrame({'total_candidates':Total_Candidates,'active_candidates':Active_Candidates})

DPhi

#A2

DPhi.columns

#A3
DPhi.total_candidates
DPhi['total_candidates']

#A4

DPhi['nonactive_candidates']=DPhi['total_candidates']-DPhi['active_candidates']
DPhi['nonactive_candidates']=DPhi.total_candidates-DPhi.active_candidates

DPhi

#A5

DPhi['activec_percentage']=(DPhi.active_candidates/DPhi.total_candidates)*100
DPhi

#A6

DPhi[DPhi['activec_percentage']>60]

                    total_candidates  ...  activec_percentage
absolute_beginners               785  ...           63.694268

[1 rows x 4 columns]

## Exercise 5

Consider the following lists:

```
country = ['Netherland', 'Germany', 'Peru', 'Israel', 'Madagascar']
year = [2002, 2002, 1957, 2007, 1967]
population = [16122830.0, np.nan, 9146100.0, 6426679.0, 6334556.0]
continent = ['Europe', 'europe', 'Americas', 'asia', 'Africa']
```

1. Create a Dataframe object which contains all the lists values as Series. The final DataFrame should be named as `country_info`, containing 4 columns and 5 rows.
2. Delete the rows which contains missing values
3. Capitalize all the continents in continent column.
4. Get the length of each country's names.

In [59]:
import numpy as np

country = ['Netherland', 'Germany', 'Peru', 'Israel', 'Madagascar']
year = [2002, 2002, 1957, 2007, 1967]
population = [16122830.0, np.nan, 9146100.0, 6426679.0, 6334556.0]
continent = ['Europe', 'europe', 'Americas', 'asia', 'Africa']

#A1
country_info=pd.DataFrame({'country':country,'year':year,'population':population,'continent':continent})

country_info

#A2
country_info.dropna()

#A3
#[s.capitalize() for s in country_info.continent]

country_info.continent.str.capitalize()

#A4
country_info.country.str.len()

['Europe', 'Europe', 'Americas', 'Asia', 'Africa']

## Exercise 6

Consider the following lists:

```
country = ['Netherland', 'Germany', 'Peru', 'Israel', 'Madagascar']
gdp_per_cap = [33724.757780, 30035.801980, 4245.256698, 25523.277100, 1634.047282]
```

1. Create a Dataframe object which contains all the lists values as Series. The final DataFrame should be named as `country_gdp`, containing 2 columns and 5 rows.
2. Concatenate the two dataframes: `country_info` and `country_gdp` with `axis=0` and name it `concat_data`
3. Check if there are any null values in `concat_data`
4. Find total numer of missing values in each column. *hint: Use `.isnull()` and `.sum()` functions*

In [66]:
country = ['Netherland', 'Germany', 'Peru', 'Israel', 'Madagascar']
gdp_per_cap = [33724.757780, 30035.801980, 4245.256698, 25523.277100, 1634.047282]

#A1
country_gdp=pd.DataFrame({'country':country,'gdp_per_cap':gdp_per_cap})
country_gdp

#A2

concat_data=pd.concat([country_info,country_gdp],axis=0)
concat_data

#A3
concat_data.isnull()

#A4
concat_data.isnull().sum()

country        0
year           5
population     6
continent      5
gdp_per_cap    5
dtype: int64